<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
<h1>Welcome to the homepage!</h1>
<form method="POST" action="/user">
    <input type="text" name="name" placeholder="Name" required/>
    <input type="email" name="email" placeholder="Email" required/>
    <button type="submit">Create Material</button>
</form>
</body>
</html>
